<div class="ui search" [class.loading]="isLoading$ | async">
  <div class="ui icon input">
    <input type="text" class="prompt" (keyup)="keyUp$.next($event.target.value)">
    <i class="search icon"></i>
  </div>

  <div class="results transition visible" *ngIf="profs$ | async as profs">
    <ng-container *ngFor="let prof of profs">
      <a *ngIf="'large' | randomAvatar as thumbnailUrl" class="result" [routerLink]="['/profs', prof.id, thumbnailUrl]">
        <span *ngIf="prof.title">{{ Title[prof.title] }}</span> {{ prof.firstName }} {{ prof.lastName }}
        <p class="description">Fakultät: {{ prof.faculty }}</p>
      </a>
    </ng-container>
    <a class="result" *ngIf="!profs.length">
      Keine Ergebnisse gefunden
    </a>
  </div>
</div>


