<div class="ui menu custom-menu">
  <a [routerLink]="'/home'" class="item" [routerLinkActive]="'active'">Home</a>
  <a [routerLink]="'/profs'" class="item" [routerLinkActive]="'active'">Professoren</a>
  <a [routerLink]="'/subjects'" class="item" [routerLinkActive]="'active'">Fächer und Reviews</a>
  <div class="right menu" >
    <div class="item" *ngIf="router.isActive('/subjects', false)">
      <div class="tiny ui green button" routerLink="/subjects/review/create">Review schreiben</div>
    </div>
    <div class="item" *ngIf="router.isActive('/profs', true)">
      <app-search-header [placeholder]="'Professor suchen'" (searchEvent)="search($event)"></app-search-header>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
